<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/icono_navegador.png' %}" />
    <link rel="stylesheet" href="{% static 'css/misEstilos.css' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
</head>


<body>
    <header>
        <div class="container__menu">
            <div class="menu">
                <input type="checkbox" id="check__menu" />
                <label for="check__menu" id="label__check">
                    <i class="icon__menu">☰</i>
                </label>
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}"></a></li>
                        <li>
                            <a href="{% url 'tienda' %}">Productos</a>
                            <ul>
                                <li>
                                    <a href="{% url 'tienda' %}">Herramientas Manuales</a>
                                </li>
                                <li>
                                    <a href="{% url 'tienda' %}">Aceites Industriales</a>
                                </li>
                                <li>
                                    <a href="{% url 'tienda' %}">Equipos de Soldadura</a>
                                </li>
                                <li>
                                    <a href="{% url 'tienda' %}">Herramientas Industriales</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'contacto' %}">Contáctanos</a>
                        </li>
                        <li>
                            <a href="{% url 'Nosotros' %}">Sobre Nosotros</a>
                        </li>
                        <li class="search-bar">
                            <input type="text" placeholder="¿Qué buscas?" class="form-control" />
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'perfil' %}"></a>
                            <ul>
                                <li>
                                    <a href="{% url 'productos' %}">Inventario</a>
                                </li>
                                <li>
                                    <a href="{% url 'listar_boletas' %}">Boletas</a>
                                </li>
                                <li>
                                    <a href="{% url 'cerrar' %}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'carrito' %}"></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"></a></li>
                        <li><a href="{% url 'carrito' %}"></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card-header">
                    <div class="card-body">
                        <h1 class="titulo-seccion text-center mb-5" style="
                            font-family: Montserrat, sans-serif;
                            font-weight: 900;
                            color: #2c3e50;
                            font-size: 30px;
                            ">Editar Perfil
                        </h1>
                        <div class="text-center mb-3">
                            <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png"
                                alt="Icono de perfil" class="img-fluid rounded-circle" style="max-width: 100px;" />
                        </div>
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}

                            <div class="form-group text-center">
                                {{ form.username.label_tag }}
                                <div>{{ form.username }}</div>
                                {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group text-center">
                                {{ form.first_name.label_tag }}
                                <div>{{ form.first_name }}</div>
                            </div>

                            <div class="form-group text-center">
                                {{ form.last_name.label_tag }}
                                <div>{{ form.last_name }}</div>
                            </div>

                            <div class="form-group text-center">
                                {{ form.email.label_tag }}
                                <div>{{ form.email }}</div>
                                {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                    style="padding: 8px 16px; border: none; background-color: #1A5276; color: white; border-radius: 5px; cursor: pointer;">
                                    Guardar cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#"><img src="{% static 'img/footer.png' %}" alt="Logo footer" /></a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Maestranzas Unidos S.A. es una empresa de Copiapó dedicada a la fabricación y mantenimiento de
                    equipos pesados para minería y construcción, con más de 20 años de experiencia y compromiso con la
                    excelencia.
                </p>
            </div>
            <div class="box">
                <h2>SÍGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="{% static 'img/facebook_logo.png' %}" alt="Facebook" width="25"
                            height="25" /></a>
                    <a href="#"><img src="{% static 'img/ig_logo.png' %}" alt="Instagram" width="25" height="25" /></a>
                    <a href="#"><img src="{% static 'img/correo_logo.png' %}" alt="Correo" width="25" height="25" /></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>©2025 <b>MAESTRANZAS UNIDOS S.A.</b> - Todos Los Derechos Reservados</small>
        </div>
    </footer>
</body>

</html>